<html>
<head>
<title>Form</title>
<link rel="stylesheet" href="/template/form.css">
</head>
<body>
   <form action="task.cgi" method="POST">
   	<span>
       	    <label for="start_row">Start row</label>
	    <input placeholder="0-399999"type="number" name="start_row"  max="399999" min="0"/>
	</span>
	<span>
	    <label for="end_row">End row</label>
	    <input placeholder="1-400000" type="number" name="end_row" max="400000" min="1"/>
	</span>
	<span>
	    <label for="teams">Choose a team:</label>
	    <select name="teams">
	        <option value="A-team">A-team</option>
	        <option value="B-team">B-team</option>
	        <option value="C-team">C-team</option>
	        <option value="D-team">D-team</option>
	        <option value="E-team">E-team</option>
	    </select>
	</span>
	<span>
	    <label for="order">Order descending</label>
	    <input type="checkbox" name="order" value="DESC">
	</span>
        <input style="display:block"  style="color:green" type="submit" value="search"/>
    </form>
</body>
</html>

