<html>
<head>
<title>Table</title>
<link rel="stylesheet" href="/template/task.css">
</head>
<body>
<a href=form.cgi>Enter new values</a>
<table name="teams" border="2" width="400" align="center">
<tr>
   <th>PK</th>
   <th>Name</th>
   <th>Num</th>
   <th>Team</th>
</tr>
<TMPL_LOOP NAME=ROWS>
   <TMPL_IF NAME="__odd__">
   <tr style="color:red">
      <td><TMPL_VAR NAME="COL_PK"></td>
      <td><TMPL_VAR NAME="COL_NAME"></td>
      <td><TMPL_VAR NAME="COL_NUM"></td>
      <td><TMPL_VAR NAME="COL_TEAM"></td>
   </tr>
   <TMPL_ELSE>
    <tr style="color:blue">
      <td><TMPL_VAR NAME="COL_PK"></td>
      <td><TMPL_VAR NAME="COL_NAME"></td>
      <td><TMPL_VAR NAME="COL_NUM"></td>
      <td><TMPL_VAR NAME="COL_TEAM"></td>
   </tr>
   </TMPL_IF>
</TMPL_LOOP>
</table>
</body>
</html>
