h3,h4{
    padding-left: 500px;
}
h3{
    border: solid green;
}
p{
    padding-left: 500px;
    font-weight: 900;
}
span{
    color: darkgreen;
    font-weight: 900;
}
li{
    border: 3px solid cornflowerblue;
}