<html>
<head>
<title>Error</title>
<link rel="stylesheet" href="/template/task.css">
<link rel="icon" href="https://cdn0.iconfinder.com/data/icons/shift-interfaces/32/Error-512.png">
</head>
<body>
<a href=form.cgi>Enter new values</a>
<p><TMPL_VAR NAME="MESSAGE"></p>
</body>
</html>
