<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<title>Game Zone</title>
<link rel="stylesheet" href="/forum_static/style.css" type="text/css" media="screen" />
<script src="/forum_static/index.js" type="module"></script>
</head>
<body>
<div id="container">
  <TMPL_IF NAME="bool">
    <h1 style="color: green">Hello <TMPL_VAR NAME="username">!</h1>
  </TMPL_IF>
  <div id="body_image">&nbsp;</div>
  <div id="page_header">
  
    <h1>Game Zone</h1>
    <h3><span>Welcome to Game Zone</span></h3>
    <div class="clearthis">&nbsp;</div>
  </div>
  <div id="page_menu">
    <ul>
      <li class="profile"><a href="/perl/forum/profile.pm"><span>Profile</span></a><span></span></li>
      <li class="galery"><a href="/perl/forum/galery.pm"><span>Galery</span></a><span></span></li>
	      <li class="movies"><a href="/perl/forum/movies.pm"><span>Movies</span></a><span></span></li>
      <li class="about"><a href="#"><span>About Zone</span></a><span></span></li>
    </ul>
  </div>
  <div id="page_forms">
    <div id="userlogin">
      <div id="userlogin_header">
        <h2><span>User Login</span></h2>
      </div>
      <form action="auth/login.pm" method="POST">
        <div id="field_username"> <strong><span>Log in:</span></strong>
          <input type="text" name="username"/>
        </div>
        <div id="field_password"> <strong><span>Password:</span></strong>
          <input type="password" name="password"/>
        </div>
        <div id="button_enter">
          <input type="submit" id="loginBTN" src="/forum_static/images/userlogin_enter.gif" alt="Enter" class="button" />
        </div>
      </form>
      <div id="userlogin_links"> <a href="/perl/forum/auth/register.pm" id="register"><strong><span>Register >>></span></strong></a> <br />
        <a href="#" id="notregister"><strong><span>Not Registered Yet?</span></strong></a> </div>
    </div>
    <div id="sitesearch_header">
      <h2><span>Site Search</span></h2>
    </div>
    <div id="sitesearch">
      <form action="#">
        <div>
          <input type="text" />
          <input type="image" src="/forum_static/images/sitesearch_button.gif" alt="Go" class="button" />
        </div>
        <div class="clearthis">&nbsp;</div>
      </form>
    </div>
  </div>
  <div id="content_body">
    <div id="reviews_box">
      <div id="reviews">
        <div class="content_header">
          <h2><span>Recent Reviews</span></h2>
        </div>
        <div class="content_entry">
          <div class="thumbnail"><img src="/forum_static/images/_image01.gif" width="121" height="90" alt="Image Caption" /></div>
          <div class="entry_text">
            <p>We add new <a href="#">free website templates</a> frequently.</p>
            <p>You can remove any link to our websites from this template you're free to use the template without linking back to us.</p>
          </div>
          <div class="clearthis">&nbsp;</div>
        </div>
        <div class="content_entry">
          <div class="thumbnail"><img src="/forum_static/images/_image02.gif" width="118" height="88" alt="Image Caption" /></div>
          <div class="entry_text">
            <p>This is just a place holder so you can see how the site would look like.</p>
            <p>The template is designed by <a href="http://www.freewebsitetemplates.com">free website templates</a> for you for free you can replace all the text by your own text.</p>
          </div>
          <div class="clearthis">&nbsp;</div>
        </div>
      </div>
    </div>
    <div id="playnow_box">
      <div id="playnow">
        <div class="content_header">
          <h2><span>Play Now</span></h2>
        </div>
        <div class="content_entry">
          <div class="thumbnail"><img src="/forum_static/images/_image03.gif" width="118" height="88" alt="Image Caption" /></div>
          <div class="entry_text">
            <h3> <a href="http://www.justwebtemplates.com">Just Web Templates</a> <br />
            </h3>
            <p>Even more websites all about website templates on <a href="http://www.justwebtemplates.com">Just Web Templates</a>.</p>
          </div>
          <div class="clearthis">&nbsp;</div>
        </div>
        <div class="content_entry">
          <div class="thumbnail"><img src="/forum_static/images/_image04.gif" width="118" height="88" alt="Image Caption" /></div>
          <div class="entry_text">
            <h3> <a href="http://www.templatebeauty.com">Template Beauty</a> <br />
            </h3>
            <p>If you're looking for beautiful and professionally made templates you can find them at <a href="http://www.templatebeauty.com">Template Beauty</a>.</p>
          </div>
          <div class="clearthis">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
  <div id="clearthis_contentbody">&nbsp;</div>
</div>
<div id="page_footer"> Copyright <a href="#">www.yoursite.com</a> | designed by <a href="http://www.freewebsitetemplates.com">free website templates</a> </div>
</body>
</html>
