<html>
<head>
</head>
<body>
<form method="POST" action="/perl/forum/upload_to_cinema.pm"  enctype="multipart/form-data">
  <label for="file">Upload a movie</label>
  <input type="file" name="movie" id="file" accept="video/mp4,video/x-m4v,video/*">
  <input type="submit" value="upload">
</form>
<a href="/perl/forum/movies.pm">Return to the Cinema</a>
</body>
</html>
