<html>
<head>
</head>
<body>
<form method="POST" action="/perl/forum/upload_to_galery.pm"  enctype="multipart/form-data">
  <label for="file">Upload a picture</label>
  <input type="file" name="img" id="file" accept="image/*">
  <input type="submit" value="upload">
</form>
<a href="/perl/forum/galery.pm">Return to the Galery</a>
</body>
</html>
