<html>
<head>
<title>Register</title>
</head>
<body>
  <form action="register.pm" method = "POST">
    <label for="username">Username</label>
    <input type="text" name="username" minlength="6">
    <label for="password">Password</label> 		
    <input type="password" name="password" minlength="6">
    <label for="password">Rewrite password</label>
    <input type="password" name="password1" minlength="6">
    <input type="submit" name="button" class="btn btn-danger" value="Register">
  </form>
</body>
</html>
