<html>
<head>
<title>Stocks</title>
</head>
<body>
  <h1>
  You can check how much money you will make by investing in stoks
  </h1>
  <form method="POST">
  <label for="link">Paste your gov.capital link:
  <input id="link" name="link" type="text">
  <input id="submit" type="submit" value="Extract forecast">
  </form>
</body>
</html>
